<<<<<<< HEAD
/*import fonts from fonts.css file*/
@import url(./fonts.css);

/*imports css variables*/
@import url(./partials/_variables.css);


/*Start Navigation*/
.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    /*font-weight font-size/line-height font-family*/
 
    /*font-family: var(--roboto);*/
    text-transform: uppercase;
    /*font-weight: 500;*/
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*End Navigation*/
=======



/*import fonts from fonts.css file*/
@import url(./fonts.css);
>>>>>>> 091b25099287af76c0e6fb0b8d8c032b9585f24d
